# include this from your .gitconfig
# [include]
# 	path = ~/.config/usr/.gitconfig

[user]
	email = acasualgoon@gmail.com
	name = goon
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nano
[init]
	defaultBranch = main

[alias]
	# clone one of my repos by name
	cloneme = !sh -c 'git clone https://github.com/acasualgoon/$1' -