# include this from your .gitconfig
# [include]
# 	path = ~/.config/usr/.gitconfig

[user]
	email = acasualgoon
	name = goon
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nano
[init]
	defaultBranch = main

[alias]
	# clone one of my repos by name
	cloneme = !sh -c 'git clone https://github.com/acasualgoon/$1' -
	
	# change the configuration in this file
	configure = !sh -c 'git config --file ~/.config/usr/.gitconfig $1 $2' -
[push]
	default = current
	autoSetupRemote = origin
